<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="row mb-4 card">
  <div class="col-12 display-flex justify-space-between card-header">
        <a class="post-title" href="/post/{{post.id}}">{{post.title}}</a>
        <p class="post-details">Created by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <div class="card-body m-2">
    <p class="m-0 truncate">
      {{post.content}}
    </p>
  </div>
</div>
{{/each}}